<div data-bsi-element="slider-two-el-transform"
    class="template-section-spacer--media-components">
    <div class="slideshow-container slider">
        <div class="wrapper-two-el">
            <div class="wrap-two-el">
                <div class="item-two-el">
                    <div class="numbertext1">
                        1 / 2
                    </div>
                    <div data-bsi-dropzone="slide-1" class="item-two-el">
                        {% block slide_1 %}

                        {% endblock %}
                    </div>
                </div>
                <div class="item-two-el">
                    <div class="numbertext2">
                        2 / 2
                    </div>
                    <div data-bsi-dropzone="slide-2" class="item-two-el">
                        {% block slide_2 %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-buttons">
            <a class="prev">❮</a>
            <a class="next">❯</a>
        </div>
        <div style="text-align: center;" class="dots-box">
            <span class="dot dot-1"></span>
            <span class="dot dot-2"></span>
        </div>
    </div>
</div>
