
.component-content-info-box {
    padding: 39px 30px;
    box-sizing: border-box;
    border: 1px solid rgba(20, 30, 85, 0.2);
}

.rectangle-advanced-bright .component-content-info-box{
background-color: white;
}

.rectangle-advanced-dark .component-content-info-box{
  background-color: #141E55;
}


