<!-- rectangle-advanced-start -->
<section data-bsi-element="rectangle-advanced" class="rectangle-advanced-bright">
    <div class="row center-xs">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <article class="component-content-info-box">
                <div class="rectangle-advanced" data-bsi-dropzone="rectangle-advanced" data-bsi-dropzone-allowed-elements="content-text content-list-element content-title-lvl-one content-title-lvl-two content-title-lvl-three"></div>
            </article>
        </div>
    </div>
</section>
<!-- rectangle-advanced-end -->
