<div data-bsi-element="image-title-legend">
    <section class="template-section-spacer--media-components">
        <div class="row center-xs">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="media-image">
                    <div class="media-image__wrap">
                        <div class="component-content-image--standalone">
                            <div>
                                <img data-bsi-element-part="image"
                                    src="{{
                                    src
                                        ?
                                        : 'https://via.placeholder.com/615x345?text='
                                    }}{{ 'now'|date('j\. F Y') }}+Bank%20Julius%20Baer"
                                    alt="" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6 module-content-gallery__content">
                            <h5 class="h5 module-content-gallery__content-title"
                                data-bsi-element-part="plain-text"
                                data-bsi-multiline="true">
                                {{ legend
                                    ?
                                    : 'V-shaped recoveries – a bumpy road to pre-crisis GDP levels' }}
                            </h5>
                        </div>
                        <div class="col-xs-12 module-content-gallery__content">
                            <p class="text-small module-content-gallery__content-caption"
                                data-bsi-element-part="plain-text"
                                data-bsi-multiline="true">
                                {{ legend
                                    ?
                                    : 'September 2020; GDP = gross domestic product. Source: Bloomberg Finance L.P., Julius Baer Economic Research' }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
