.html-table-container {
    margin-bottom: 20px;
}

.html-table-wrapper {
    background-color: #141e55;
    padding: 20px;
}
.html-table-wrapper p {
    color: #ffffff;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

.text-container {
    display: flex;
    justify-content: space-between;
}

.text-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-container.border {
    border-bottom: 1px solid #ffffff;
}

.text-container .label-text {
    font-size: 20px;
    font-weight: 400;
}

.text-container .label-numbers {
    font-size: 24px;
    font-weight: 400;
}

.label-text span {
    font-size: 14px;
    font-weight: 100;
}

.text-label-spacing {
    margin-top: 30px;
}
.text-container-footer {
    padding-top: 20px;
}
