<div data-bsi-element="html-table-element" class="html-table-container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
            <div data-bsi-element-part="html" class="html-table-wrapper">
                <div class="text-container border">
                    <p class="label-text">
                        Mandate performance* <span>(March 2023)</span>
                    </p>
                    <p class="label-numbers">
                        -0.8%
                    </p>
                </div>
                <div class="text-container">
                    <p>
                        Year-to-date March 2023
                    </p>
                    <p>
                        1.4%
                    </p>
                </div>
                <div class="text-container">
                    <p>
                        2022
                    </p>
                    <p>
                        9.0%
                    </p>
                </div>
                <div class="text-container">
                    <p>
                        2020
                    </p>
                    <p>
                        5.0%
                    </p>
                </div>
                <div class="text-container">
                    <p>
                        5 years annualised
                    </p>
                    <p>
                        5.0%
                    </p>
                </div>
                <div class="text-container border text-label-spacing">
                    <p class="label-text">
                        Mandate volatility <span>(5 years annualised)</span>
                    </p>
                    <p class="label-numbers">
                        -0.8%
                    </p>
                </div>
                <div class="text-container-footer">
                    <p>
                        * Cross, composite performance
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
