            <!-- video_component_start -->
            <section data-bsi-element="content-video-html" class="template-section-spacer--media-components">
               <div class="row center-xs">
                  <div class="col-md-10 col-sm-12 col-xs-12">
                     <div class="component-content-video__column">
                        <div data-bsi-element-part="html" class="component-content-video aspect-16-9 ">
                           <iframe width="560" height="315" src="https://www.youtube.com/embed/Nv2ceV9N_hc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-- video_component_end -->		

{# Video-test 
            <!-- video_component_start -->
            <section data-bsi-element="content-video-html" class="template-section-spacer--media-components">
               <div class="row center-xs">
                  <div class="col-md-10 col-sm-12 col-xs-12">
                     <div class="component-content-video__column">
                        <div class="component-content-video aspect-16-9 ">
                           <video data-bsi-element-part="html" class="lazy video-js " poster="https://via.placeholder.com/468x60?text=responsive" preload="none" controls     data-setup="{}">
                              <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
                              <p class="vjs-no-js">To view this video please enable JavaScript</p>
                           </video>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-- video_component_end -->
#}