<!-- video_component_start -->
<section data-bsi-element="content-video-html" class="template-section-spacer--media-components">
   <div class="row center-xs">
      <div class="col-md-10 col-sm-12 col-xs-12">
         <div class="component-content-video__column">
            <div data-bsi-element-part="html" class="component-content-video aspect-16-9 ">
               <iframe width="640" height="360" src="https://juliusbaer.eu.vbrickrev.com/embed?id=7b904d01-072d-491d-aec3-ca7b053c61e0" style="" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- video_component_end -->		
