<!-- video_component_start -->
<section data-bsi-element="content-video-html" class="template-section-spacer--media-components">
   <div class="row center-xs">
      <div class="col-md-10 col-sm-12 col-xs-12">
         <div class="component-content-video__column">
            <div data-bsi-element-part="html" class="component-content-video aspect-16-9 ">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/Nv2ceV9N_hc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- video_component_end -->		
