<div data-bsi-element="content-list-element">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
			<div class="component-content-text">
				<div class="component-content-rich-text text">
					<ul style="margin-bottom: 0px">
						<li>
							{% block content %}
								{% include 'text.twig' %}
							{% endblock %}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
