<div class="article-content-wrapper">
    {# <div data-bsi-dropzone="rational"></div> #}
    <div data-bsi-dropzone="header"></div>
    <div data-bsi-dropzone="content" class="article-content-wrapper"></div>
    <div data-bsi-dropzone="articles"></div>
    <div data-bsi-dropzone="articlesalt"></div>
    {# <div data-bsi-dropzone="footer" class="template-section-spacer--last"></div> #}
</div>
