<!-- highlight_box_start -->
<section data-bsi-element="content-highlightbox2"
  class="template-section-spacer--text-components highlightbox2-aligned-text highlightbox2-text-align-center">
  <div class="row center-xs">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <!-- highlight_box__content_start -->
      <article class="component-content-info-box">
        <!-- highlight_box__title_start -->
        <h4 data-bsi-element-part="plain-text"
          class="h4 component-content-info-box__title">
          Mehr erfahren...
        </h4>
        <!-- highlight_box__title_end -->
        <!-- highlight_box__text_start -->
        <div class="component-content-rich-text component-content-info-box__rte text"
          style="margin-bottom: 40px">
          <p data-bsi-element-part="plain-text" data-bsi-multiline="true">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </p>
        </div>
        <!-- highlight_box__text_end -->
        <!-- highlight_box__button1_start -->
        <div class="row center-xs">
          <div class="col-md-6 col-sm-6 col-xs-12 module-hero-article-page__toolbar highlightbox2-button">
            <div class="component-special-article-tool-bar module-hero-article-page__toolbar">
              <div class="component-special-article-tool-bar__inner">
                <div class="button button--dark button module-hero-article-page__toolbar">
                  <a data-bsi-element-part="link"
                    class="btn btn--secondary animate-left-bottom button__link"
                    href="[wildcard-button]">
                    Schedule a call
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 module-hero-article-page__toolbar highlightbox2-button">
            <div class="component-special-article-tool-bar module-hero-article-page__toolbar ">
              <div class="component-special-article-tool-bar__inner">
                <div class="button button--dark button module-hero-article-page__toolbar highlightbox2-button">
                  <a data-bsi-element-part="link"
                    class="btn btn--secondary animate-left-bottom button__link"
                    href="[wildcard-button]">
                    Register for webcast
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
      <!-- highlight_box__content_end -->
    </div>
  </div>
</section>
<!-- highlight_box_end -->
