<div data-bsi-element="pie-chart" class="pie-chart">
    <section class="template-section-spacer--media-components">
        <div class="row center-xs">
            <div class="col-sm-12 col-xs-12">
                {% include '../element-heading/template.twig' with {
                    isNoElement: true
                } %}
                <div data-bsi-element-part="juliusbaer-chart">
                    <script type="application/json"
                        id="data-pie"
                        data-bsi-chart-config="">
                        {% include './chart-config.json' %}
                    </script>
                </div>
                <div id="chart-wrapper"
                    class="chart-wrapper"
                    style="background-color: #efeee5;">
                    <canvas id="pie-chart"></canvas>
                </div>
            </div>
        </div>
    </section>
</div>
