<div data-bsi-element="element-heading"
    class="col-xs-12 col-lg-6 module-content-gallery__content element-heading element-heading-styling-classic">
    <h5 class="h5 module-content-gallery__content-title"
        data-bsi-element-part="plain-text"
        id="6115e50e-6a7d-11ed-a1eb-0242ac120002"
        data-bsi-multiline="true">
        {{ legend
            ?
            : 'V-shaped recoveries – a bumpy road to pre-crisis GDP levels' }}
    </h5>
</div>
