<div data-bsi-dropzone="header3" data-bsi-dropzone-allowed-elements="header-image" data-bsi-dropzone-max-number-of-elements="1" class="module-hero-article-page__row">
    {% include 'header3.twig' %}
   </div>
   <div data-bsi-dropzone="header4" data-bsi-dropzone-allowed-elements="header-text" data-bsi-dropzone-max-number-of-elements="1" class="row center-xs">
    {% include 'header4.twig' %}
   </div>
