<div data-bsi-dropzone="header1" data-bsi-dropzone-allowed-elements="header-h1" data-bsi-dropzone-max-number-of-elements="1" class="row center-xs">
    {% include 'header1.twig' %}
   </div>
   <div data-bsi-dropzone="header2" data-bsi-dropzone-allowed-elements="header-breadcrumb" data-bsi-dropzone-max-number-of-elements="1" class="row center-xs">
    {% include 'header2.twig' %}
   </div>
