<div data-bsi-element="header-container">
   <!-- schon_integriert_start -->
   <article class="module-hero-article-page module-hero-article-page--push-left template-section-spacer--hero-article">
      <header>
         {% block header1 %}
         {% include 'header1-body.twig' %}
         {% endblock %}	
      </header>
      {% block header2 %}
      {% include 'header2-body.twig' %}
      {% endblock %}	
   </article>
   <!-- schon_integriert_end -->
</div>