<!-- footer-link-list_start -->
<div data-bsi-element="footer-links-website">
    <ul class="navigation-footer-primary module-navigation-footer__navigation-footer-primary">
        <li class="navigation-footer-primary__link">
            <a data-bsi-element-part="link"
          
                class="footer-link"
                href="[About Us]">
            {% verbatim %}{{ bsi.nls 'about_us' }}{% endverbatim %}
            </a>
        </li>
        <li class="navigation-footer-primary__link">
            <a data-bsi-element-part="link"
          
                class="footer-link"
                href="[Contact]">
               {% verbatim %}{{ bsi.nls 'contact' }}{% endverbatim %}
            </a>
        </li>
        <li class="navigation-footer-primary__link">
            <a data-bsi-element-part="link"
           
                class="footer-link"
                href="[Legal]">
             {% verbatim %}{{ bsi.nls 'legal' }}{% endverbatim %}
            </a>
        </li>
    </ul>
</div>
<!-- footer-link-list_end -->
