<!-- contact_start -->
<section data-bsi-element="content-cta"
	class="template-section-spacer--richtext-components">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
			<div class="component-content-text">
				<h4 class="h4 m-headline-with-text__headline">
					Contact Us
				</h4>
				<div class="component-content-rich-text text">
					<p>
						{% block content %}
							{% include 'link.twig' %}
						{% endblock %}
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- contact_end -->
