<div data-bsi-element="content-list-element">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
            <div class="component-content-text">
                <div class="component-content-rich-text text">
                    <ul style="margin-bottom: 0px">
                        <li>
                            <div data-bsi-element-part="formatted-text"
                                id="c38df9a2-6afe-11ed-a1eb-0242ac120002"
                                data-bsi-multiline="true">
                                First element
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
