<div data-bsi-element="content-content2">
    <div class="component-special-article-share-bar module-hero-article-page__sharebar">
        <div class="component-special-article-share-bar__btn-share">
            <div class="button-share">
                <div class="button-share__open-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 19.99 21.84">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #141e55;
                                }
                            </style>
                        </defs>
                        <title>share-mobile</title>
                        <path class="cls-1" d="M16.39,14.69a3.62,3.62,0,0,0-2.88,1.45L7,12.37a3.66,3.66,0,0,0,.25-1.29A3.6,3.6,0,0,0,7,9.77L13.59,6a3.59,3.59,0,1,0-.82-2.27A3.71,3.71,0,0,0,13,5L6.38,8.77a3.58,3.58,0,0,0-2.76-1.3,3.61,3.61,0,1,0,2.78,5.9L13,17.17a3.9,3.9,0,0,0-.2,1.14,3.62,3.62,0,1,0,3.62-3.62Zm0-13.58a2.55,2.55,0,1,1-2.56,2.55A2.55,2.55,0,0,1,16.39,1.11ZM3.62,13.6a2.56,2.56,0,1,1,2.56-2.55A2.55,2.55,0,0,1,3.62,13.6Zm12.77,7.23a2.56,2.56,0,1,1,2.55-2.56A2.56,2.56,0,0,1,16.39,20.83Z" transform="translate(-0.01 -0.08)"></path>
                    </svg>
                </div>
                <div class="button-share__close-icon">
                    <svg class="" viewbox="0 0 30 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill-rule="evenodd">
                            <g transform="translate(-1825.000000, -45.000000)">
                                <g transform="translate(1820.000000, 45.000000)">
                                    <path d="M19.2926829,14.5 L5.5,0.707317073 L6.20731707,-2.1151414e-12 L20,13.7926829 L33.7926829,-2.11031193e-12 L34.5,0.707317073 L20.7073171,14.5 L34.5,28.2926829 L33.7926829,29 L20,15.2073171 L6.20731707,29 L5.5,28.2926829 L19.2926829,14.5 Z"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <p class="text-4 button-share__text">Share</p>
            </div>
        </div>
    </div>
    <div data-bsi-element-part="social-follow" class="component-special-article-share-bar__icons">
        <p data-bsi-element-part="plain-text" id="13e2a91e-6b06-11ed-a1eb-0242ac120002" class="text-4 component-special-article-share-bar__text">Share</p>
        <a data-bsi-social-follow="Facebook" class="social-media-item facebook-icon" href="[Facebook]">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="16" viewbox="0 0 8 16">
                <path d="M2.133 5.453H.527v2.63h1.606v7.726H5.22V8.051h2.154l.23-2.598H5.221v-1.48c0-.611.12-.854.713-.854h1.671V.423H5.467c-2.3 0-3.334 1.015-3.334 2.96z"></path>
            </svg>
        </a>
        <a data-bsi-social-follow="Mail" href="[Mail|url=mailto:]" class="social-media-item mail-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 12">
                <path fill-rule="evenodd" d="M14 0c1.105 0 2 .895 2 2v8c0 1.105-.895 2-2 2H2c-1.105 0-2-.895-2-2V2C0 .895.895 0 2 0h12zM1.299 2.007L1.3 10c0 .354.263.647.605.694L2 10.7h12c.354 0 .647-.263.694-.605L14.7 10V2.034L8.37 6.53c-.197.14-.454.158-.666.052l-.088-.053-6.317-4.522zm12.19-.708H2.544l5.451 3.902 5.494-3.902z"></path>
            </svg>
        </a>
        <a data-bsi-social-follow="Twitter" class="social-media-item twitter-icon" href="[Twitter]">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 19 15">
                <path d="M18.45 2.024a7.426 7.426 0 0 1-2.136.587A3.739 3.739 0 0 0 17.949.548a7.31 7.31 0 0 1-2.36.904A3.718 3.718 0 0 0 12.875.277a3.723 3.723 0 0 0-3.62 4.576A10.537 10.537 0 0 1 1.595.957a3.723 3.723 0 0 0-.503 1.875c0 1.294.657 2.434 1.653 3.104a3.731 3.731 0 0 1-1.685-.467v.046a3.728 3.728 0 0 0 2.982 3.656 3.703 3.703 0 0 1-1.677.065 3.728 3.728 0 0 0 3.472 2.59 7.448 7.448 0 0 1-5.503 1.541 10.492 10.492 0 0 0 5.697 1.675c6.838 0 10.576-5.68 10.576-10.606 0-.16-.004-.321-.01-.483a7.576 7.576 0 0 0 1.854-1.93"></path>
            </svg>
        </a>
        <a data-bsi-social-follow="LinkedIn" class="social-media-item linkedin-icon" href="[LinkedIn]">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 14">
                <path d="M3.813 2.395c0-.866-.692-1.565-1.546-1.565C1.413.83.72 1.529.72 2.395c0 .863.693 1.562 1.547 1.562s1.546-.7 1.546-1.562zM.973 13.542h2.615V5.067H.972zm6.795-8.475H5.26v8.475h2.51V9.094c0-1.192.546-1.902 1.593-1.902.963 0 1.425.682 1.425 1.902v4.448h2.602V8.176c0-2.272-1.282-3.368-3.074-3.368-1.793 0-2.547 1.399-2.547 1.399z"></path>
            </svg>
        </a>
    </div>
</div>
