/* Slideshow container */
.slideshow-container {
    max-width: 83.33333%;
    margin: auto;
    background-color: #efeee5;
    position: relative;
}

.background {
    background-color: #efeee5;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    display: block;
    position: absolute;
    bottom: 0;
    width: auto;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    transition: 0.6s ease;
    user-select: none;
    background-color: #141e55;
}

/* Position the "next button" to the right */
.next {
    right: 0;
}

.prev {
    right: 55px;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    display: block;
    color: black;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots-box {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 45%;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}

@media (max-width: 599px) {
    .slideshow-container {
        max-width: 100%;
        margin: auto;
    }
}

@media (min-width: 600px) and (max-width: 959px) {
    .slideshow-container {
        max-width: 90%;
        margin: auto;
    }
}

@media (max-width: 959px) {
    .numbertext {
        display: none;
    }

    .prev,
    .next {
        display: none;
    }

    .dots-box {
        display: block;
    }
}
