<div class="row center-xs" data-bsi-element="content-title-lvl-three">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div data-bsi-element-part="formatted-text"
            class="col-xs-12 col-lg-6 element-heading-not-indented element-heading element-heading-styling-classic title-lvl-three-container">
            <h6 class="h7 title-lvl-three module-content-gallery__content-title">
                {{ legend
                    ?
                    : 'V-shaped recoveries – a bumpy road to pre-crisis GDP levels' }}
            </h6>
        </div>
    </div>
</div>
