<!-- hero-image_start -->
<div data-bsi-element="header-image"
    class="col-lg-10 col-md-10 col-xs-12 module-hero-article-page__column ratio-21-9">
    <div class="module-hero-article-page__media-image-wrap">
        <div class="media-image">
            <div class="media-image__wrap">
                <div class="aspect-21-9 module-hero-article-page__media-image-aspect">
                    <a href="[#]"
                        data-bsi-element-part="image"
                        id="f452f266-6b0f-11ed-a1eb-0242ac120002">
                        <img src="{{
                            src
                                ?
                                : bsi_cx_asset(
                                    '../../../assets/img/header_sample_4.jpg'
                                )
                            }}"
                            alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero-image_end -->
