.accordion {
    background-color: #efeee5;
    color: var(--royalBlue);
    cursor: pointer;
    padding: 40px 80px 30px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-rational {
    color: var(--royalBlue);
    fill: var(--royalBlue);
    width: 28px;
    height: 28px;
}
.panel {
    padding: 0 80px 30px;

    background-color: #efeee5;

    overflow: hidden;
    color: var(--royalBlue);
}

.title-rational-text {
    margin-right: 20px;
}

.hidden-block {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

@media (max-width: 599px) {
    .accordion {
        padding: 40px 10px 30px;
    }

    .panel {
        padding: 0 10px 30px;
    }
}
