<div data-bsi-element="rational-text">
    <div class="component-content-rich-text text">
        <div class="element wysiwyg">
            <div class="accordion">
                <div class="title-rational-text">
                    <h6 data-bsi-element-part="formatted-text"
                        data-bsi-multiline="true"
                        class="h6 title-lvl-three module-content-gallery__content-title">
                        In order to reach pre-crisis levels in terms of growth,
                        fiscal support is crucial. Which countries have reacted
                        most decisively?
                    </h6>
                </div>
                <img class="icon-rational"
                    src="{{
                    url
                        ?
                        : bsi_cx_asset('../../../assets/img/Icons/arrow.svg')
                    }}"
                    alt="" />
            </div>
            <div class="panel" data-bsi-element-part="formatted-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>
</div>
