<div data-bsi-element="content-links-group-title">
	<h7 class="h7 module-content-gallery__content-title"
		data-bsi-element-part="formatted-text">
		{{ legend
			?
			: 'V-shaped recoveries – a bumpy road to pre-crisis
								GDP levels' }}
	</h7>
</div>
