<div class="row center-xs" data-bsi-element="content-title-lvl-two">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="col-xs-12 col-lg-6 element-heading-not-indented element-heading element-heading-styling-classic">
            <h5 data-bsi-element-part="formatted-text"
                class="h5 title-lvl-two module-content-gallery__content-title"
                id="78128a94-6b06-11ed-a1eb-0242ac120002">
                {{ legend
                    ?
                    : 'V-shaped recoveries – a bumpy road to pre-crisis GDP levels' }}
            </h5>
        </div>
    </div>
</div>
