<div data-bsi-element="slider-three-el">
    <div class="slideshow-container-three-el slider">
        <div class="three-button-container">
            <div class="button-text-box">
                <div class="button-element button-first clicked-button">
                    <p class="button-text">
                        1
                    </p>
                </div>
                <div class="button-title">
                    <p class="button-title-text">
                        Allocation by assett class
                    </p>
                </div>
            </div>
            <div class="vertical-line-1"></div>
            <div class="button-text-box">
                <div class="button-element button-second">
                    <p class="button-text">
                        2
                    </p>
                </div>
                <div class="button-title">
                    <p class="button-title-text">
                        Equity allocation
                    </p>
                </div>
            </div>
            <div class="vertical-line-2"></div>
            <div class="button-text-box">
                <div class="button-element button-third">
                    <p class="button-text">
                        3
                    </p>
                </div>
                <div class="button-title">
                    <p class="button-title-text">
                        Income income allocation
                    </p>
                </div>
            </div>
        </div>
        <div class="slider-box">
            <div class="slides-three-el fade">
                <div data-bsi-dropzone="slide-three-el-1"
                    data-bsi-dropzone-allowed-elements="chart image-headline-legend">
                    {% block slide_1 %}

                    {% endblock %}
                </div>
            </div>
            <div class="slides-three-el fade">
                <div data-bsi-dropzone="slide-three-el-2"
                    data-bsi-dropzone-allowed-elements="chart image-headline-legend">
                    {% block slide_2 %}

                    {% endblock %}
                </div>
            </div>
            <div class="slides-three-el fade">
                <div data-bsi-dropzone="slide-three-el-3"
                    data-bsi-dropzone-allowed-elements="chart image-headline-legend">
                    {% block slide_3 %}

                    {% endblock %}
                </div>
            </div>
        </div>

        <div style="text-align: center;" class="dots-box-three-el">
            <span class="dot-three-el dot-1-three-el"></span>
            <span class="dot-three-el dot-2-three-el"></span>
            <span class="dot-three-el dot-3-three-el"></span>
        </div>
    </div>
</div>
