                 <!-- highlight_box_start -->
               <section data-bsi-element="content-highlightbox" class="template-section-spacer--text-components">
                  <div class="row center-xs">
                     <div class="col-md-8 col-sm-12 col-xs-12">
                        <!-- highlight_box__content_start -->
                        <article class="component-content-info-box">
                           <!-- highlight_box__title_start -->
                           <h4 data-bsi-element-part="plain-text" class="h4 component-content-info-box__title">{{ template.placeholder.content.highlightbox.title }}</h4>
                           <!-- highlight_box__title_end -->
                           <!-- highlight_box__text_start -->
                           <div class="component-content-rich-text component-content-info-box__rte text">
                              <p data-bsi-element-part="plain-text" data-bsi-multiline="true">{{ template.placeholder.content.highlightbox.text }}</p>
                           </div>
                           <!-- highlight_box__text_end -->
                        </article>
                        <!-- highlight_box__content_end -->
                     </div>
                  </div>
               </section>
               <!-- highlight_box_end -->		