<div data-bsi-element="content-sticky-buttons" class="sticky show-button">
  <a href="#" data-bsi-element-part="link" class="sticky-button">Download guide</a>
  <a href="#" data-bsi-element-part="link" class="sticky-button second">Book the Webcast</a>
</div>