<div data-bsi-element="articles-title" class="row center-xs">
  <div class="col-xs-12 col-sm-12">
    <div class="component-teaser-article-row__title-wrap">
      <h4 data-bsi-element-part="plain-text"
        class="h4 component-teaser-article-row__section-title section-title">
        Related Articles
      </h4>
    </div>
  </div>
</div>
