<div data-bsi-element="content-downloads">
    <section class="o-listing template-section-spacer--list"
        id="c20579"
        data-bg-color-class="">
        <div class="o-listing__inner">
            <div class="m-listing">
                <h2 class="h4 section-title m-listing__title"
                    data-bsi-element-part="plain-text">
                    Downloads
                </h2>
                <div data-bsi-dropzone="downloads"
                    data-bsi-dropzone-allowed-elements="download-item">
                    {% include '../download-item/template.twig' %}
                </div>
            </div>
        </div>
    </section>
</div>
