<!-- body-text_1_start -->
<div data-bsi-element="content-text" class="template-section-spacer--richtext-components">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
            <div class="component-content-text">
                <!-- body-text_1__text_start -->
                <div class="component-content-rich-text text">
                    <div class="element wysiwyg">
                        {% if text %}
                            {{ text|raw }}
                        {% else %}
                            <h6 data-bsi-element-part="formatted-text" data-bsi-multiline="true">In order to reach pre-crisis levels in terms of growth, fiscal support is crucial. Which countries have reacted most decisively?</h6>
                            <div data-bsi-element-part="formatted-text" data-bsi-multiline="true">“Many countries reacted swiftly to the impact of the exogenous shock on their economies and provided large stimulus measures. Unsurprisingly, those countries that can actually afford it, dug deeper into their pockets – and they stand to profit from that going forward.”</div>
                        {% endif %}
                    </div>
                </div>
                <!-- body-text_1__text_end -->
            </div>
        </div>
    </div>
</div>
<!-- body-text_1_end -->
