      
<!-- disclaimer_text_start -->       
<div data-bsi-element="footer-disclaimer">
   <p data-bsi-element-part="plain-text" data-bsi-multiline="true">{{ template.placeholder.footer.disclaimer }}</p>
</div>
<!-- disclaimer_text_end -->

