<!-- highlight_box_start -->
<section data-bsi-element="content-highlightbox"
    class="template-section-spacer--text-components highlightbox-aligned-text highlightbox-text-align-left highlightbox-bright">
    <div class="row center-xs">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <!-- highlight_box__content_start -->
            <article class="component-content-info-box">
                <!-- highlight_box__title_start -->
                <div data-bsi-element-part="plain-text"
                    class="h4 component-content-info-box__title">
                    <h4 id="4922e9ec-6b04-11ed-a1eb-0242ac120002">
                        Mehr erfahren...
                    </h4>
                </div>
                <!-- highlight_box__title_end -->
                <!-- highlight_box__text_start -->
                <div class="component-content-rich-text component-content-info-box__rte text"
                    data-bsi-element-part="plain-text"
                    data-bsi-multiline="true">
                    <p id="4922ee38-6b04-11ed-a1eb-0242ac120002">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et
                        dolore magna aliquyam erat, sed diam voluptua.
                    </p>
                </div>
                <!-- highlight_box__text_end -->
            </article>
            <!-- highlight_box__content_end -->
        </div>
    </div>
</section>
<!-- highlight_box_end -->
