.a-button-play {
    position: absolute;
    top: auto;
    left: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    outline: none;
    z-index: 2;
    transition: transform 0.7s, width 0.7s, height 0.7s;
    padding: 14px;
}

.podcast-overlay {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
}

.article-text {
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 26px;
    line-height: 1.625rem;
    color: rgba(20, 30, 85, 0.8);
    margin-bottom: 30px;
}

.three-row-text {
    max-height: 78px;
    overflow: hidden;
    position: relative;
}

.three-row-text:before {
    height: 26px;
    bottom: 0;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff 83%);
    content: '';
    margin: auto;
    max-width: 115px;
    position: absolute;
    right: 0;
    text-align: right;
    width: 50%;
}

.text-hidden .three-row-text {
    display: none;
}

.text-shown .three-row-text {
    display: block;
}

@media (min-width: 600px) and (max-width: 959px) {
    .two-articles .teaser-components-article-card {
        margin-bottom: 0px;
    }
}

@media (min-width: 960px) {
    .teaser-components-article-card {
        margin-bottom: 0px;
    }
}

.overlay-hidden button.a-button-play,
.podcast-overlay-visible button.a-button-play {
    display: none;
}

.overlay-hidden img.podcast-overlay,
.video-overlay-visible img.podcast-overlay {
    display: none;
}

.a-button-play__icon {
    outline: none;
}

.article-image-container {
    position: relative;
}
