<div data-bsi-element="footer-legal">
    <ul class="navigation-footer-secondary module-navigation-footer__navigation-footer-secondary">
        <li>
            <a data-bsi-element-part="link"
                id="8f8991a4-6b0b-11ed-a1eb-0242ac120002"
                class="footer-link"
                href="[Data privacy policy]">
                Data privacy policy
            </a>
        </li>
        <li>
            <a data-bsi-element-part="link"
                id="8f899780-6b0b-11ed-a1eb-0242ac120002"
                class="footer-link"
                href="[Terms of use]">
                Terms of use
            </a>
        </li>
        <li>
            <a data-bsi-element-part="link"
                id="8f899910-6b0b-11ed-a1eb-0242ac120002"
                class="footer-link"
                href="[News alert]">
                News alert
            </a>
        </li>
        <li>
            <span class="copyright">
                ©
                <time id="copyright-year"></time>
                &nbsp;Julius Baer
            </span>
        </li>
    </ul>
</div>
