<div data-bsi-element="content-links-group-title"
    class="default-links-group-title links-group-title">
    <h5 class="h7 module-content-gallery__content-title"
        data-bsi-element-part="formatted-text"
        id="3534a6fa-6a87-11ed-a1eb-0242ac120002">
        {{ legend
            ?
            : 'V-shaped recoveries – a bumpy road to pre-crisis GDP levels' }}
    </h5>
</div>
