.module-hero-article-page__headline {
    font-family: VerlagSSm, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 66px;
    line-height: 4.125rem;
    margin: 0 0 24px;
    text-align: left;
    word-break: break-word;
}
@media (max-width: 1280px) {
    .module-hero-article-page__headline {
        line-height: 46px;
        line-height: 2.875rem;
        font-size: 36px;
        font-size: 2.25rem;
        margin-bottom: 21px;
    }
}

.module-hero-article-page--push-left .module-hero-article-page__headline {
    font-family: VerlagSSm, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
}
@media (min-width: 960px) and (max-width: 1280px) {
    .module-hero-article-page--push-left .module-hero-article-page__headline {
        font-size: 34px;
        font-size: 2.125rem;
        line-height: 44px;
        line-height: 2.75rem;
    }
}
@media (min-width: 360px) and (max-width: 959px) {
    .module-hero-article-page--push-left .module-hero-article-page__headline {
        margin-right: 0;
        margin-left: 0;
        font-size: 34px;
        word-break: break-word;
        line-height: 44px;
        line-height: 2.75rem;
    }
}

.module-hero-article-page--2-col .module-hero-article-page__headline {
    text-align: center;
    margin-bottom: 40px;
}
@media (max-width: 959px) {
    .module-hero-article-page--2-col .module-hero-article-page__headline {
        margin-bottom: 32px;
    }
}
