<!-- h1-title_start -->
<div data-bsi-element="header-h1" class="col-md-10 col-sm-12">
    <h1 data-bsi-element-part="plain-text" id="f452f0d6-6b0f-11ed-a1eb-0242ac120002" class="h2 module-hero-article-page__headline">{{ '{header_h1-title}' }}</h1>
</div>
