<div data-bsi-element="articles-image1" class="template-section-spacer">
  <!-- start_related_articles -->
  <div class="component-teaser-article-row">
    <!-- related_articles_title_start -->
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-12">
        <div class="component-teaser-article-row__title-wrap">
          <h4 data-bsi-element-part="plain-text"
            class="h4 component-teaser-article-row__section-title section-title">
            Related Articles
          </h4>
        </div>
      </div>
    </div>
    <!-- related_articles_title_end -->
    <!-- related_articles_content_start -->
    <div class="row center-xs">
      <!-- related_articles_1 2 and 3 start -->
      {% block articles %}
        {% include 'articles-body.twig' %}
      {% endblock %}
      <!-- related_articles_1 2 and 3_end -->
    </div>
    <!-- related_articles_content_end -->
  </div>
  <!-- related_articles_end -->
  <!-- end_related_articles -->
</div>
