<div data-bsi-element="links-group-title"
    class="default-links-group-title links-group-title">
    <h5 class="h7 module-content-gallery__content-title"
        data-bsi-element-part="formatted-text">
        {{ legend
            ?
            : 'V-shaped recoveries – a bumpy road to pre-crisis
								GDP levels' }}
    </h5>
</div>
