<!-- disclaimer_text_start -->
<div data-bsi-element="product-nav">
    <div data-bsi-element-part="html">
        <bsi:include reference="navigation"></bsi:include>
    </div>
</div>
<!-- disclaimer_text_end -->
