<li data-bsi-element="related-topic-tag"
    class="navigation-tags__list-item text-4">
    <a href="{{ href ? : '[related_topic-tag]' }}" data-bsi-element-part="link">
        {{ '{related_topic-tag}' }}
    </a>
</li>
