<div {{ isNoElement == true ? '' : 'data-bsi-element="element-description"' }}
    class="col-xs-12 module-content-gallery__content element-description">
    <p class="text-small module-content-gallery__content-caption"
        data-bsi-element-part="plain-text"
        data-bsi-multiline="true">
        {{ legend
            ?
            : 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam' }}
    </p>
</div>
