<div data-bsi-element="content-sticky-buttons" class="sticky show-button">
    <a href="#" data-bsi-element-part="link" id="78128094-6b06-11ed-a1eb-0242ac120002" class="sticky-button">Download guide</a>
    <a href="#" data-bsi-element-part="link" id="781285ee-6b06-11ed-a1eb-0242ac120002" class="sticky-button second">Book the Webcast</a>
</div>
