.podcast-audio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 15px 0;
}

#audio-element {
    margin-bottom: 15px;
}

#podcast-audio-container,
#podcast-audio {
    width: 100%;
}
