<!-- Only BSI compatible - way to allow for variable audio links is by using an HTML element part -->
<div class="row center-xs" data-bsi-element="podcast-audio">
    <div class="podcast-audio-container">
        <p id="audio-element"
            data-bsi-element-part="plain-text"
            itemid="c38df72c-6afe-11ed-a1eb-0242ac120002">
            Audio Name
        </p>
        <div id="podcast-audio-container"
            data-bsi-element-part="html"
            id="c38df880-6afe-11ed-a1eb-0242ac120002">
            <audio controls id="podcast-audio" src="/path/to/podcast/file.mp3">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </div>
    </div>
</div>
