<div data-bsi-element="content-table" class="custom-table-container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
      <div data-bsi-element-part="table" class="custom-table-wrapper">
        <table>
          <tbody>
            <tr>
              <th>
                Here's
              </th>
              <th>
                Some
              </th>
              <th>
                Sample
              </th>
              <th>
                Header
              </th>
            </tr>
            <tr>
              <td>
                Here's
              </td>
              <td>
                Some
              </td>
              <td>
                Sample
              </td>
              <td>
                Content
              </td>
            </tr>
            <tr>
              <td>
                Here's
              </td>
              <td>
                Some
              </td>
              <td>
                Sample
              </td>
              <td>
                Content
              </td>
            </tr>
            <tr>
              <td>
                Here's
              </td>
              <td>
                Some
              </td>
              <td>
                Sample
              </td>
              <td>
                Content
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>