<div data-bsi-element="content-table" class="custom-table-container">
    <div data-bsi-element-part="table" class="custom-table-wrapper">
        <table>
            <tbody>
                <tr>
                    <th>Here's</th>
                    <th>Some</th>
                    <th>Sample</th>
                    <th>Header</th>
                </tr>
                <tr>
                    <td>Here's</td>
                    <td>Some</td>
                    <td>Sample</td>
                    <td>Content</td>
                </tr>
                <tr>
                    <td>Here's</td>
                    <td>Some</td>
                    <td>Sample</td>
                    <td>Content</td>
                </tr>
                <tr>
                    <td>Here's</td>
                    <td>Some</td>
                    <td>Sample</td>
                    <td>Content</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>