.risk-rating__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    padding: 0 40px;
}

.risk-rating-element {
    position: relative;
    border: 3px solid #141e55;
    border-radius: 50%;
    text-align: center;
    aspect-ratio: 1 / 1;
    flex-basis: calc(100% / 10);
}

.risk-rating-element p {
    font-style: normal;
    font-weight: 325;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #141e55;
}

.risk-rating__legend {
    margin-top: 30px;
    margin-bottom: 30px;
}

.line-container {
    display: flex;
    width: 95%;
    margin: 24px auto;
    align-items: center;
}

.line {
    flex-grow: 1;
    height: 1px;
    background: black;
    position: relative;
}

.line.arrow-right::after {
    position: absolute;
    content: '';
    bottom: -8px;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid black;
}

.line.arrow-right::before {
    position: absolute;
    content: '';
    top: -8px;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid black;
}

.legend-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.highlight-first .risk-rating__rating div:nth-child(1),
.highlight-second .risk-rating__rating div:nth-child(2),
.highlight-third .risk-rating__rating div:nth-child(3),
.highlight-fourth .risk-rating__rating div:nth-child(4),
.highlight-fifth .risk-rating__rating div:nth-child(5),
.highlight-sixth .risk-rating__rating div:nth-child(6),
.highlight-seventh .risk-rating__rating div:nth-child(7) {
    border: 3px solid #141e55;
    background-color: #141e55;
    flex-grow: 0.1;
}

.highlight-first .risk-rating__rating div:nth-child(1) p,
.highlight-second .risk-rating__rating div:nth-child(2) p,
.highlight-third .risk-rating__rating div:nth-child(3) p,
.highlight-fourth .risk-rating__rating div:nth-child(4) p,
.highlight-fifth .risk-rating__rating div:nth-child(5) p,
.highlight-sixth .risk-rating__rating div:nth-child(6) p,
.highlight-seventh .risk-rating__rating div:nth-child(7) p {
    color: #ffffff;
}

/* .text-rating {
    font-family: VerlagSSm, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #141e55;
} */

.text-block {
    margin-top: 30px;
}

.strong {
    font-weight: 500;
}

.hidden-text-1 {
    display: none;
}
.hidden-text-2 {
    display: none;
}
.hidden-text-3 {
    display: none;
}
.hidden-text-4 {
    display: none;
}
.hidden-text-5 {
    display: none;
}
.hidden-text-6 {
    display: none;
}
.hidden-text-7 {
    display: none;
}
/* animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.risk-bar {
    animation-name: fadeIn;
    animation-duration: 3s;
}

/* @keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

.risk-rating__legend {
    animation-name: zoomIn;
    animation-duration: 3s;
} */

.highlight-first .risk-rating__rating div:nth-child(1),
.highlight-second .risk-rating__rating div:nth-child(2),
.highlight-third .risk-rating__rating div:nth-child(3),
.highlight-fourth .risk-rating__rating div:nth-child(4),
.highlight-fifth .risk-rating__rating div:nth-child(5),
.highlight-sixth .risk-rating__rating div:nth-child(6),
.highlight-seventh .risk-rating__rating div:nth-child(7) {
    animation-name: zoomIn;
    animation-duration: 3s;
}

@media only screen and (max-width: 1200px) {
    .risk-rating-element {
        border: 2px solid #141e55;
    }

    .risk-rating-element p {
        font-size: 26px;
    }
}

@media only screen and (max-width: 600px) {
    .risk-rating-element {
        border: 1px solid #141e55;
        flex-basis: calc(100% / 8);
    }

    .risk-rating__rating {
        padding: 0 20px;
    }

    .legend-box {
        width: 90%;
    }

    .line-container {
        width: 90%;
    }

    .risk-rating-element p {
        font-size: 24px;
        padding: 0;
    }

    .highlight-first .risk-rating__rating div:nth-child(1),
    .highlight-second .risk-rating__rating div:nth-child(2),
    .highlight-third .risk-rating__rating div:nth-child(3),
    .highlight-fourth .risk-rating__rating div:nth-child(4),
    .highlight-fifth .risk-rating__rating div:nth-child(5),
    .highlight-sixth .risk-rating__rating div:nth-child(6),
    .highlight-seventh .risk-rating__rating div:nth-child(7) {
        border: 3px solid #141e55;
        background-color: #141e55;
        flex-grow: 0.3;
        /* height: 120px; */
    }
}
