<div data-bsi-element="risk-rating" class="risk-bar highlight-fifth">
    <section class="template-section-spacer--media-components">
        <div class="row center-xs">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="media-image">
                    <div class="media-image__wrap">
                        {% include '../element-heading/template.twig' with {
                            isNoElement: true
                        } %}
                        <div class="risk-rating-box">
                            <div class="risk-rating__rating">
                                <div class="risk-rating-element">
                                    <p>
                                        1
                                    </p>
                                </div>
                                <div class="risk-rating-element">
                                    <p>
                                        2
                                    </p>
                                </div>
                                <div class="risk-rating-element">
                                    <p>
                                        3
                                    </p>
                                </div>
                                <div class="risk-rating-element">
                                    <p>
                                        4
                                    </p>
                                </div>
                                <div class="risk-rating-element">
                                    <p>
                                        5
                                    </p>
                                </div>
                                <div class="risk-rating-element">
                                    <p>
                                        6
                                    </p>
                                </div>
                                <div class="risk-rating-element">
                                    <p>
                                        7
                                    </p>
                                </div>
                            </div>
                            <div class="risk-rating__legend">
                                <div class="line-container">
                                    <span class="line arrow-right"></span>
                                </div>
                                <div class="legend-box">
                                    <p>
                                        Lower Risk
                                    </p>
                                    <p>
                                        Higher Risk
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="text-block col-xs-12 module-content-gallery__content element-description">
                            <div data-bsi-element-part="plain-text"
                                class="hidden-text-1 text-small module-content-gallery__content-caption">
                                Conclusion: This rates the potential losses from
                                future performance at a very low level, and poor
                                market condi­tions are extremely unlikely to
                                impact the counterparty’s capacity to pay you.
                            </div>
                            <div data-bsi-element-part="plain-text"
                                class="hidden-text-2 text-small module-content-gallery__content-caption">
                                Conclusion: This rates the potential losses from
                                future performance at a low level, and poor
                                market conditions are very unlikely to impact
                                the counterparty’s capacity to pay you.
                            </div>
                            <div data-bsi-element-part="plain-text"
                                class="hidden-text-3 text-small module-content-gallery__content-caption">
                                Conclusion: This rates the potential losses from
                                future performance at a medium-low level, and
                                poor market conditions are unlikely to impact
                                the counterparty’s capacity to pay you.
                            </div>
                            <div data-bsi-element-part="plain-text"
                                class="hidden-text-4 text-small module-content-gallery__content-caption">
                                Conclusion: This rates the potential losses from
                                future performance at a medium level, and poor
                                market condi­tions might impact the
                                counterparty’s capacity to pay you.
                            </div>
                            <div data-bsi-element-part="plain-text"
                                class="hidden-text-5 text-small module-content-gallery__content-caption">
                                Conclusion: This rates the potential losses from
                                future performance at a medium-high level, and
                                poor market conditions are likely to impact the
                                counterparty’s capacity to pay you.
                            </div>
                            <div data-bsi-element-part="plain-text"
                                class="hidden-text-6 text-small module-content-gallery__content-caption">
                                Conclusion: This rates the potential losses from
                                future performance at a high level, and poor
                                market conditions are very likely to impact the
                                counterparty’s capacity to pay you.
                            </div>
                            <div data-bsi-element-part="plain-text"
                                class="hidden-text-7 text-small module-content-gallery__content-caption">
                                Conclusion: This rates the potential losses from
                                future performance at a very high level, and
                                poor market condi­tions are extremely likely to
                                impact the counterparty’s capacity to pay you.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
