<section data-bsi-element="video-tag" class="template-section-spacer--media-components">
   <div class="row center-xs">
      <div class="col-md-10 col-sm-12 col-xs-12">
         <div class="component-content-video__column">
            <div class="component-content-video aspect-16-9 ">
               <div data-bsi-element-part="video" class="a-video aspect-16-9" data-icon-path="https://cdn.plyr.io/3.6.4/plyr.svg">
                  <iframe width="640" height="360" src="https://juliusbaer.eu.vbrickrev.com/embed?id=35c1c2e9-11b3-473d-af53-dddacef79eb1&autoplay=1&startAt=00m00s" style="" frameborder="0" allowfullscreen></iframe>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
