           <div class="col-md-4 col-sm-6 col-xs-12" data-bsi-dropzone="articles1">
            {% include 'article1.twig' %}
           </div>
           <div class="col-md-4 col-sm-6 col-xs-12" data-bsi-dropzone="articles2">
            {% include 'article2.twig' %}
           </div>
           <div class="col-md-4 col-sm-6 col-xs-12" data-bsi-dropzone="articles3">
            {% include 'article3.twig' %}
           </div>
