.chart-wrapper-horizontal-bar {
    position: relative;
    width: 100%;
    margin: auto;
}

@media only screen and (max-width: 1435px) {
    .chart-wrapper-horizontal-bar {
        width: 100%;

        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .chart-wrapper-horizontal-bar {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .chart-wrapper-horizontal-bar {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .chart-wrapper-horizontal-bar {
        width: 350px;
        height: 350px;
    }
}
