<div data-bsi-element="horizontal-bar-chart" class="horizontal-bar-chart">
    <section class="template-section-spacer--media-components">
        <div class="row center-xs">
            <div class="col-md-8 col-sm-12 col-xs-12">
                {% include '../element-heading/template.twig' with {
                    isNoElement: true
                } %}
                <div data-bsi-element-part="juliusbaer-chart-bar">
                    <script type="application/json"
                        id="data"
                        data-bsi-chart-config="">
                        {% include './chart-config.json' %}
                    </script>
                </div>
                <div id="chart-wrapper" class="chart-bar-wrapper">
                    <canvas id="horizontal-bar-chart"></canvas>
                </div>
                {% include '../element-description/template.twig' with {
                    isNoElement: true,
                    legend: '20. Dezember 2022, 01: 00 CET Source: FIS Global Trading (Suisse) SA'
                } %}
            </div>
        </div>
    </section>
</div>
