<div data-bsi-element="content-link-block">
    <section class="o-listing template-section-spacer--list"
        data-bg-color-class="">
        <div class="o-listing__inner">
            <div class="grey-bg">
                <img data-bsi-element-part="image"
                    class="image-block__image"
                    src="./assets/Images/shares_120.png" />
                <h2 class="h4 section-title m-listing__title"
                    data-bsi-element-part="plain-text">
                    Trade
                </h2>
                <div class="button button--secondary-dark teaser-components-static-teaser__btn-wrapper">
                    <a href="[Link Block Link]"
                        data-bsi-element-part="link"
                        class="btn btn--secondary animate-left-bottom button__link teaser-components-static-teaser__btn-wrapper-btn"
                        data-leave-alert="200">
                        Julius Baer E-Banking
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
