<div data-bsi-element="chart">
    <div style="width: 800px; margin: auto;">
        <p data-bsi-element-part="plain-text">
            Chart Title
        </p>
        <div data-bsi-element-part="juliusbaer-chart">
            <script type="application/json" data-bsi-chart-config="">
                { "year": 2010, "count": 10 }
            </script>
        </div>
        <canvas id="acquisitions"></canvas>
    </div>
</div>
