<!-- disclaimer_text_start -->
<div data-bsi-element="footer-disclaimer">
    <p data-bsi-element-part="plain-text"
        id="30302e5a-6b08-11ed-a1eb-0242ac120002"
        data-bsi-multiline="true">
        {footer_disclaimer-text}
    </p>
</div>
<!-- disclaimer_text_end -->
