<div data-bsi-element="content-single-link">
    <div class="single-link-element">
        <div data-bsi-element-part="formatted-text" style="color: #141e55;">
            Rechtliche Hinweise zur Publikation &#187;
        </div>
    </div>
</div>
