<div data-bsi-element="articlesalt-calltoaction-two"
	class="row article-content-wrapper">
	<a data-bsi-element-part="link"
		href="#"
		class="fallback-font calltoaction-button-two">
		NAVIGATION BUTTON
	</a>
</div>
