<!-- h1-title_start -->
    <div data-bsi-element="header-h1" class="col-md-10 col-sm-12">
       <h1 data-bsi-element-part="plain-text" class="h2 module-hero-article-page__headline">{{ template.placeholder.header.h1 }}</h1>
    </div>
