<!-- wildcard-confirm_button_start -->
<div data-bsi-element="articlesalt-confirm" class="article-content-wrapper">
    <div class="row center-xs">
        <div class="row center-xs">
            <div>
                <div class="component-special-article-tool-bar module-hero-article-page__toolbar">
                    <div class="component-special-article-tool-bar__inner">
                        <div class="component-special-article-tool-bar__subscribe-btn-wrap">
                            <div class="button button--dark button--icon">
                                <div style="padding-left: 16px;">
                                    <a data-bsi-element-part="link"
                                        class="btn btn--secondary animate-left-bottom button__link"
                                        style="padding-left: 0;"
                                        href="[wildcard-button]">
                                        confirm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- wildcard-confirm_button_end -->
