<!-- hero-image_start -->
<div data-bsi-element="header-image"
    class="col-lg-10 col-md-10 col-xs-12 module-hero-article-page__column aspect-21-9">
    <div class="module-hero-article-page__media-image-wrap">
        <div class="media-image">
            <div class="media-image__wrap">
                <div class="aspect-21-9 module-hero-article-page__media-image-aspect">
                    <img data-bsi-element-part="image"
                        src="{{ src ? : '[header_image-url]' }}"
                        alt="{header_image-alttext}" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero-image_end -->
