<div data-bsi-element="image-headline-legend">
    <section class="template-section-spacer--media-components">
        <div class="row center-xs">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="media-image">
                    <div class="media-image__wrap">
                        <div data-bsi-dropzone="element-heading-holder"
                            data-bsi-dropzone-allowed-elements="element-heading"
                            data-bsi-dropzone-max-number-of-elements="1">
                            {% include '../element-heading/template.twig' %}
                        </div>
                        <div class="component-content-image--standalone">
                            <div>
                                <img data-bsi-element-part="image"
                                    src="{{
                                    src
                                        ?
                                        : '
									https://via.placeholder.com/615x345?text='
                                    }}{{ 'now'|date('j\. F Y') }}+Bank%20Julius%20Baer"
                                    alt="" />
                            </div>
                        </div>
                        <div data-bsi-dropzone="element-legend-holder"
                            data-bsi-dropzone-allowed-elements="element-legend"
                            data-bsi-dropzone-max-number-of-elements="1">
                            {% include '../element-legend/template.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
