<div data-bsi-element="content-download-item">
    <ul class="m-listing__list space-top">
        <li class="atom-content-listing animate-left-bottom m-listing__animate">
            <a data-bsi-element-part="link" id="6115e0cc-6a7d-11ed-a1eb-0242ac120002" href="[File for Download]" class="text-small atom-content-listing__link" target="_blank">
                <p data-bsi-link-text-part="">
                    Corporate Sustainability Report 2020 <span>|</span> PDF
                </p>
                <div class="download-icon atom-content-listing__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                        <path d="M15.988 8.654v4.963a2.311 2.311 0 0 1-2.308 2.308H2.308A2.311 2.311 0 0 1 0 13.617V8.654a.654.654 0 1 1 1.308 0v4.963c0 .55.449 1 1 1H13.68c.551 0 1-.45 1-1V8.654a.654.654 0 1 1 1.308 0z"></path>
                        <path fill="#141e55" d="M8.329 10.644a.596.596 0 0 1-.843 0L4.288 7.447a.596.596 0 1 1 .843-.843l2.13 2.129V.863a.645.645 0 0 1 .646-.647.647.647 0 0 1 .647.647v7.87l2.13-2.13a.596.596 0 1 1 .842.844L8.363 10.61z"></path>
                    </svg>
                </div>
            </a>
        </li>
    </ul>
</div>
