<!-- lead_start -->
<div data-bsi-element="header-text"
	class="col-md-8 col-sm-12 col-xs-12 module-hero-article-page__text-wrap">
	<div class="module-hero-article-page__text">
		<p data-bsi-element-part="plain-text" data-bsi-multiline="true">
			{{ template.placeholder.header.text }}
		</p>
	</div>
</div>
<!-- lead_end -->
