.custom-table-wrapper {
    overflow-x: auto;
    white-space: nowrap;
}

.custom-table-container table {
    border-spacing: 0 !important;
    width: 100%;
    display: table;
}

.custom-table-container th,
.custom-table-container td {
    border-top: 1px solid darkgray;
    padding: 10px;
    color: #333;
    border-collapse: collapse;
}
