<div data-bsi-element="related-topics" class="navigation-tags navigation-tags--all-same template-section-spacer">
        <div class="row center-xs text-center">
         <div class="col-lg-12 col-sm-12 navigation-tags_column">
            <div data-bsi-dropzone="articles-header"
                 data-bsi-dropzone-allowed-elements="articles-title"
                 data-bsi-dropzone-max-number-of-elements="1" >
                {% include '../articles-title/template.twig' %}
             </div>
                <ul  data-bsi-dropzone="tags" 
        data-bsi-dropzone-allowed-elements="related-topic-tag" 
        data-bsi-dropzone-max-number-of-elements="6"
         class="navigation-tags__list ">  
         
                </ul>
               </div> 
            </div>
    </div>