<!-- footer-link-list_start -->
<div data-bsi-element="footer-links">
    <ul class="navigation-footer-primary module-navigation-footer__navigation-footer-primary">
        <li class="navigation-footer-primary__link">
            <a data-bsi-element-part="link"
                id="e04b985e-6b0a-11ed-a1eb-0242ac120002"
                class="footer-link"
                href="[About Us]">
                About us
            </a>
        </li>
        <li class="navigation-footer-primary__link">
            <a data-bsi-element-part="link"
                id="e04b9b88-6b0a-11ed-a1eb-0242ac120002"
                class="footer-link"
                href="[Contact]">
                Contact
            </a>
        </li>
        <li class="navigation-footer-primary__link">
            <a data-bsi-element-part="link"
                id="e04b9d40-6b0a-11ed-a1eb-0242ac120002"
                class="footer-link"
                href="[Legal]">
                Legal
            </a>
        </li>
    </ul>
</div>
<!-- footer-link-list_end -->
