<div data-bsi-element="element-legend"
    class="col-xs-12 module-content-gallery__content element-legend">
    <p class="text-small module-content-gallery__content-caption"
        data-bsi-element-part="formatted-text"
        id="25c0688c-6a80-11ed-a1eb-0242ac120002">
        {{ legend
            ?
            : 'September 2020; GDP = gross domestic product. Source: Bloomberg Finance L.P., Julius Baer Economic Research' }}
    </p>
</div>
