<div data-bsi-dropzone="footer-website"
    data-bsi-dropzone-allowed-elements="footer-container"
    class="template-section-spacer--last"
    data-bsi-dropzone-max-number-of-elements="1">
    {% include '../../../../components/footer/footer-container-website/template.twig' %}
</div>
