<div data-bsi-element="footer-legal-website">
    <ul class="navigation-footer-secondary module-navigation-footer__navigation-footer-secondary">
        <li>
            <a data-bsi-element-part="link"
          
                class="footer-link"
                href="[Data privacy policy]">
             {% verbatim %}{{ bsi.nls 'data_privacy_policy' }}{% endverbatim %}
            </a>
        </li>
        <li>
            <a data-bsi-element-part="link"
           
                class="footer-link"
                href="[Terms of use]">
              {% verbatim %}{{ bsi.nls 'terms_of_use' }}{% endverbatim %}
            </a>
        </li>
        <li>
            <a data-bsi-element-part="link"
           
                class="footer-link"
                href="[News alert]">
              {% verbatim %}{{ bsi.nls 'news_alert' }}{% endverbatim %}
            </a>
        </li>
        <li>
            <span class="copyright">
                ©
                <time id="copyright-year"></time>
                &nbsp;Julius Baer
            </span>
        </li>
    </ul>
</div>
