.navigation-main-text {
    margin-bottom: 16px;
}

.navigation-line-text .text-nav-line {
    color: rgb(20, 30, 85);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 16px;
    font-weight: 700;
    display: inline-block;
}
