<div data-bsi-element="header-container">
    <!-- schon_integriert_start -->
    <article class="module-hero-article-page module-hero-article-page--push-left template-section-spacer--hero-article">
        <header>
            {% block header1 %}
                <div data-bsi-dropzone="header1"
                    data-bsi-dropzone-allowed-elements="header-h1"
                    data-bsi-dropzone-max-number-of-elements="1"
                    class="row center-xs">
                    {% include '../header-h1/template.twig' %}
                </div>
                <div data-bsi-dropzone="header2"
                    data-bsi-dropzone-allowed-elements="breadcrumb"
                    data-bsi-dropzone-max-number-of-elements="1"
                    class="row center-xs">
                    {% include '../breadcrumb/template.twig' %}
                </div>
            {% endblock %}
        </header>
        {% block header2 %}
            <div data-bsi-dropzone="header3"
                data-bsi-dropzone-allowed-elements="header-image"
                data-bsi-dropzone-max-number-of-elements="1"
                class="module-hero-article-page__row">
                {% include '../header-image/template.twig' %}
            </div>
            <div data-bsi-dropzone="header4"
                data-bsi-dropzone-allowed-elements="header-lead"
                data-bsi-dropzone-max-number-of-elements="1"
                class="row center-xs">
                {% include '../header-lead/template.twig' %}
            </div>
            <div data-bsi-dropzone="header5"
                data-bsi-dropzone-allowed-elements="cta-button"
                data-bsi-dropzone-max-number-of-elements="1"
                class="row center-xs">
                {% include '../../alternative-elements/cta-button/template.twig' %}
            </div>
        {% endblock %}
    </article>
    <!-- schon_integriert_end -->
</div>
