<!-- social-link-list_start -->
<ul data-bsi-element="socials"
    data-bsi-element-part="social-follow"
    class="navigation-footer-social-icons module-navigation-footer__navigation-footer-social-icons">
    <!-- social-link-list__facebook_start -->
    <li data-bsi-social-follow="Facebook"
        class="social-media-item navigation-footer-social-icons__facebook">
        <a class="facebook-icon" href="[Facebook]" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="16"
                viewbox="0 0 8 16">
                <path d="M2.133 5.453H.527v2.63h1.606v7.726H5.22V8.051h2.154l.23-2.598H5.221v-1.48c0-.611.12-.854.713-.854h1.671V.423H5.467c-2.3 0-3.334 1.015-3.334 2.96z"></path>
            </svg>
        </a>
    </li>
    <!-- social-link-list__facebook_end -->
    <!-- social-link-list__twitter_start -->
    <li data-bsi-social-follow="Twitter"
        class="social-media-item navigation-footer-social-icons__twitter">
        <a class="twitter-icon" href="[Twitter]" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 19 15">
                <path d="M18.45 2.024a7.426 7.426 0 0 1-2.136.587A3.739 3.739 0 0 0 17.949.548a7.31 7.31 0 0 1-2.36.904A3.718 3.718 0 0 0 12.875.277a3.723 3.723 0 0 0-3.62 4.576A10.537 10.537 0 0 1 1.595.957a3.723 3.723 0 0 0-.503 1.875c0 1.294.657 2.434 1.653 3.104a3.731 3.731 0 0 1-1.685-.467v.046a3.728 3.728 0 0 0 2.982 3.656 3.703 3.703 0 0 1-1.677.065 3.728 3.728 0 0 0 3.472 2.59 7.448 7.448 0 0 1-5.503 1.541 10.492 10.492 0 0 0 5.697 1.675c6.838 0 10.576-5.68 10.576-10.606 0-.16-.004-.321-.01-.483a7.576 7.576 0 0 0 1.854-1.93"></path>
            </svg>
        </a>
    </li>
    <!-- social-link-list__twitter_end -->
    <!-- social-link-list__youtube_start -->
    <li data-bsi-social-follow="Youtube"
        class="social-media-item navigation-footer-social-icons__youtube">
        <a class="youtube-icon" href="[Youtube]" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 22 16">
                <path d="M21.25 3.926c.002.02.203 1.67.203 3.292v1.527c0 1.626-.2 3.273-.202 3.29-.011.067-.217 1.495-.88 2.164-.761.796-1.61.88-2.066.925l-.122.013c-2.623.19-6.486.21-7.01.212h-.065c-.527-.002-4.388-.023-6.998-.21l-.135-.015c-.459-.045-1.306-.129-2.07-.929-.66-.665-.867-2.093-.875-2.153a30.83 30.83 0 0 1-.203-3.297V7.218c0-1.623.2-3.272.202-3.286.009-.067.216-1.495.88-2.167C2.67.97 3.518.888 3.975.845l.12-.014c2.623-.19 6.48-.205 7.008-.208h.062c.532.003 4.393.019 7.005.206l.135.016c.456.043 1.305.124 2.068.924.66.668.867 2.096.877 2.157m-6.651 4.328a.29.29 0 0 0 .157-.259l-.156-.258-5.433-2.834-.286.009-.14.248v5.65l.14.247.152.045.134-.034L14.6 8.254"></path>
            </svg>
        </a>
    </li>
    <!-- social-link-list__youtube_end -->
    <!-- social-link-list__linkedin_start -->
    <li data-bsi-social-follow="LinkedIn"
        class="social-media-item navigation-footer-social-icons__linkedin">
        <a class="linkedin-icon" href="[LinkedIn]" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 14">
                <path d="M3.813 2.395c0-.866-.692-1.565-1.546-1.565C1.413.83.72 1.529.72 2.395c0 .863.693 1.562 1.547 1.562s1.546-.7 1.546-1.562zM.973 13.542h2.615V5.067H.972zm6.795-8.475H5.26v8.475h2.51V9.094c0-1.192.546-1.902 1.593-1.902.963 0 1.425.682 1.425 1.902v4.448h2.602V8.176c0-2.272-1.282-3.368-3.074-3.368-1.793 0-2.547 1.399-2.547 1.399z"></path>
            </svg>
        </a>
    </li>
    <!-- social-link-list__linkedin_end -->
    <!-- social-link-list__instagram_start -->
    <li data-bsi-social-follow="Instagram"
        class="social-media-item navigation-footer-social-icons__instagram">
        <a class="instagram-icon" href="[Instagram]" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 15">
                <path d="M13.716 12.724a.567.567 0 0 1-.567.567H2.964a.567.567 0 0 1-.566-.567V6.476h1.28a4.56 4.56 0 0 0-.147 1.137c0 2.508 2.027 4.542 4.526 4.542a4.535 4.535 0 0 0 4.379-5.679h1.28zm0-8.519a.567.567 0 0 1-.566.57h-1.694a.567.567 0 0 1-.564-.57V2.502c0-.314.252-.568.564-.568h1.694c.314 0 .566.254.566.568zm-5.653.57a2.835 2.835 0 1 1 0 5.669 2.835 2.835 0 0 1 0-5.67zm5.66 10.22c.938 0 1.698-.764 1.698-1.704V1.934A1.7 1.7 0 0 0 13.723.23H2.398A1.7 1.7 0 0 0 .7 1.934v11.357c0 .94.76 1.704 1.698 1.704z"></path>
            </svg>
        </a>
    </li>
    <!-- social-link-list__instagram_end -->
</ul>

<!-- social-link-list_end -->
