.component-special-article-back-to-top {
    display: inline-block;
}
.component-special-article-back-to-top__wrap {
    position: relative;
    display: inline-block;
}
.component-special-article-back-to-top__link {
    font-weight: 900;
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 16px;
    line-height: 1rem;
    letter-spacing: 2px;
    letter-spacing: 0.125rem;
    color: var(--royalBlue);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 21px;
}
.component-special-article-back-to-top__link:hover {
    text-decoration: none;
}
.component-special-article-back-to-top__icon {
    position: absolute;
    right: 0;
    top: 0;
    transition: top 0.3s ease-in-out 0s;
}
.component-special-article-back-to-top__icon svg {
    fill: var(--royalBlue);
}
.component-special-article-back-to-top:hover
    .component-special-article-back-to-top__icon {
    top: -4px;
}
