<!-- calltoaction_button_start -->
<div data-bsi-element="cta-button"
    class="row center-xs article-content-wrapper">
    <a data-bsi-element-part="link"
        href="[DOWNLOAD]"
        class="fallback-font calltoaction-button">
        CALL TO ACTION
    </a>
</div>
<!-- calltoaction_button_end -->
