<div data-bsi-element="textarea" style="padding-bottom: 15px;">
    <div data-bsi-element-part="form-textarea"
        class="reverse-for-required text-field textarea-wrapper">
        <textarea placeholder="Comment"
            class="textarea"
            id="sample-area"
            name="sample-area"
            rows="6"
            cols="4"
            spellcheck="true"></textarea>
        <div class="error-message isVisible">
            {{ properties.title_error }}
        </div>
        <label class="text-field-label" for="sample-area">
            {{ properties.form.comment }}
        </label>
    </div>
</div>
