               <!-- body-quote_start -->
               <div data-bsi-element="content-quote" class="o-quote template-section-spacer--text-components">
                     {% block content %}
                        {% include 'text.twig' %}
                     {% endblock %}
               </div>
               <!-- body-quote_end -->		