<div class="o-quote__inner">
   <div class="element wysiwyg">
      {% if text %}
            {{ text|raw }}
      {% else %}
               <h3 data-bsi-element-part="plain-text" class="o-quote__quote">{{ template.placeholder.content.quote.text }}</h3>
               <p data-bsi-element-part="plain-text" class="o-quote__author">{{ template.placeholder.content.quote.name }}, {{ template.placeholder.content.quote.position }}</p>
      {% endif %}
   </div>
</div>
