<div class="col-md-8 col-sm-12 col-xs-12 module-hero-article-page__toolbars">
	<div data-bsi-dropzone="element1" data-bsi-dropzone-allowed-elements="content-content1" data-bsi-dropzone-max-number-of-elements="1">
		{% include 'element1.twig' %}
	   </div>
	   <div data-bsi-dropzone="element2" data-bsi-dropzone-allowed-elements="content-content2" data-bsi-dropzone-max-number-of-elements="1">
		{% include 'element2.twig' %}
	   </div>
 </div>