<!-- lead_start -->
<div data-bsi-element="header-text"
    class="template-section-spacer--richtext-components col-md-8 col-sm-12 col-xs-12 module-hero-article-page__text-wrap">
    <div class="module-hero-article-page__text">
        <p data-bsi-element-part="plain-text"
            id="3d8a0464-6b11-11ed-a1eb-0242ac120002"
            data-bsi-multiline="true">
            {header_lead-text}
        </p>
    </div>
</div>
<!-- lead_end -->
