.element-heading-not-indented {
    padding: 0;
}
.element-description {
    padding-left: 10px;
}

.element-description .description {
    margin-bottom: 30px;
}

.element-description-styling-bodytext .description {
    font-weight: 325;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.margin-top-desc {
    margin-top: 24px;
    margin-bottom: 28px;
}

.margin-bottom-desc {
    margin-top: 56px;
}
