<div {{ isNoElement == true ? '' : 'data-bsi-element="chart-description"' }}
    class="{{
    marginCustom
        ? marginCustom
        : ''
    }} col-xs-12 col-lg-6 module-content-gallery__content element-description element-description-styling-classic">
    <p class="description module-content-gallery__content-title"
        data-bsi-element-part="plain-text"
        id="31427dda-a216-11ed-a8fc-0242ac120002"
        data-bsi-multiline="true">
        {{ text
            ?
            : 'V-shaped recoveries – a bumpy road to pre-crisis GDP levels' }}
    </p>
</div>
