               <!-- body-text_1_start -->
               <div data-bsi-element="content-text" class="template-section-spacer--richtext-components">
                <div class="row">
                   <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                      <div class="component-content-text">
                         <!-- body-text_1__text_start -->
                         <div class="component-content-rich-text  text">
                           {% block content %}
                              {% include 'text.twig' %}
                           {% endblock %}
                         </div>
                         <!-- body-text_1__text_end -->
                      </div>
                   </div>
                </div>
               </div>
             <!-- body-text_1_end -->	