<!-- video_component_start -->
<section data-bsi-element="iframe-video"
	class="template-section-spacer--media-components">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
			<div class="component-content-video__column">
				<div data-bsi-element-part="html"
					class="component-content-video aspect-16-9">
					<iframe width="560"
						height="315"
						src="https://juliusbaer.eu.vbrickrev.com/embed?id=35c1c2e9-11b3-473d-af53-dddacef79eb1&autoplay=1&startAt=00m00s"
						style=""
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- video_component_end -->
