<li data-bsi-element="related-article-tag" class="navigation-tags__list-item text-4" >
<a href="{{ href ? : '[related_article-tag]' }}"
    data-bsi-element-part="link">
    {{ "{related_article-tag}" }}
</a>
</li>

