<div id="links-group" data-bsi-element="content-links-group">
    <section class="o-listing template-section-spacer--list"
        data-bg-color-class="">
        <div class="o-listing__inner">
            <div class="m-listing">
                <h2 class="h4 section-title m-listing__title"
                    data-bsi-element-part="plain-text"
                    id="b52943d6-6a85-11ed-a1eb-0242ac120002">
                    How to invest
                </h2>
                <div data-bsi-dropzone="links-group"
                    data-bsi-dropzone-allowed-elements="content-links-group-item content-links-group-title">
                    {% include '../links-group-title/template.twig' %}
                    {% include '../links-group-item/template.twig' %}
                </div>
            </div>
        </div>
    </section>
</div>
