.module-hero-article-page--push-left
    .ratio-random
    .module-hero-article-page__media-image-aspect,
.module-hero-article-page--push-left
    .ratio-random
    .module-hero-article-page__media-image-aspect
    img {
    height: auto;
}

@media screen and (min-width: 2000px) {
    .module-hero-article-page--push-left
        .ratio-random
        .module-hero-article-page__media-image-aspect
        img,
    .module-hero-article-page--push-left
        .ratio-21-9
        .module-hero-article-page__media-image-aspect
        img {
        position: static;
    }
}

.a-button-play {
    position: absolute;
    top: auto;
    left: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    outline: none;
    z-index: 2;
    transition: transform 0.7s, width 0.7s, height 0.7s;
    padding: 14px;
}

@media (min-width: 600px) and (max-width: 959px) {
    .two-articles .teaser-components-article-card {
        margin-bottom: 0px;
    }
}

@media (min-width: 960px) {
    .teaser-components-article-card {
        margin-bottom: 0px;
    }
}

.a-button-play__icon {
    outline: none;
}

.article-image-container {
    position: relative;
}
.article-container-context.content-context {
    padding: 20px 0px;
}

.cta-button-two-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-top {
    margin-top: 20px;
}
.element-heading-not-indented {
    padding: 0;
}

.element-heading h5 {
    margin-bottom: 20px;
}

.element-heading-styling-bodytext h5 {
    font-weight: 700;
    font-size: 1.0625rem;
    line-height: 1.875rem;
    color: var(--royalBlue);
}
.element-legend-not-indented {
    padding: 0;
}

.element-legend p {
    margin-top: 20px;
}

.highlightbox-aligned-text.highlightbox-text-align-left h4,
.highlightbox-aligned-text.highlightbox-text-align-left p {
    text-align: left;
}

.highlightbox-aligned-text.highlightbox-text-align-center p,
.highlightbox-aligned-text.highlightbox-text-align-center h4 {
    text-align: center;
}

.highlightbox-dark .component-content-info-box {
    background-color: var(--royalBlue);
}

.highlightbox-dark .component-content-info-box__title,
.highlightbox-dark .component-content-rich-text p {
    color: var(--white);
}

.component-content-info-box h4 {
    margin-bottom: 18px;
}
.highlightbox2-aligned-text.highlightbox2-text-align-left h4,
.highlightbox2-aligned-text.highlightbox2-text-align-left p {
    text-align: left;
}

.highlightbox2-aligned-text.highlightbox2-text-align-center p,
.highlightbox2-aligned-text.highlightbox2-text-align-center h4 {
    text-align: center;
}

@media (max-width: 599px) {
    .highlightbox2-button .button {
        display: block;
    }

    .highlightbox2-button .component-special-article-tool-bar__inner {
        display: block;
    }
}

.grey-bg {
    background-color: #dfddcb;
    display: grid;
}

.h4 {
    margin-bottom: 40px;
}

.button {
    margin: auto;
    margin-bottom: 30px;
    width: max-content;
}
/* important added because bsi elements have position:relative; would overwrite */
.sticky {
    position: sticky;
    bottom: 0;
    padding: 50px;
}

.sticky-button {
    background-color: var(--royalBlue);
    color: var(--white);
    width: 130px;
    height: 130px;
    display: flex;
    border-radius: 50%;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin-left: auto;
    text-decoration: none;
    font-weight: 400;
}

.sticky-button p {
    color: var(--white);
}

@media only screen and (max-width: 600px) {
    .sticky {
        flex-direction: row;
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }
    .sticky-button {
        margin-left: unset;
    }
    .second {
        margin-left: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .second {
        margin-top: 20px;
    }
    /* to avoid that links lying under button container are not clickable in desktop view, only occupy space required for container */
    .sticky {
        /* sticky buttons container is 230px wide in desktop view */
        margin-top: -300px;
    }
}

.hide-button .second {
    display: none;
}

.show-button .second {
    display: flex;
}
.space-top {
    margin-top: 20px;
}
.default-links-group-title h5 {
    text-transform: none;
}

.uppercase-links-group-title h5 {
    text-transform: uppercase;
}

.links-group-title {
    margin-top: 25px;
}
.custom-table-wrapper {
    overflow-x: auto;
    white-space: nowrap;
}

/* Otherwise margin not respected, don't know why */
.title-lvl-three-container {
    display: flex;
}
.single-link-element a,
.single-link-element * {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.component-content-text .body-text li {
    list-style-type: unset;
}

.chart-wrapper {
    position: relative;

    width: 900px;
    margin: auto;
}

@media only screen and (min-width: 1436px) {
    .chart-wrapper {
        aspect-ratio: 2/1;
        width: 100%;

        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1435px) {
    .chart-wrapper {
        aspect-ratio: 2/1;
        width: 100%;

        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1200px) {
    .chart-wrapper {
        aspect-ratio: 2/1;
        width: 100%;

        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .chart-wrapper {
        aspect-ratio: 1/1;
        width: 100%;
    }
}
@media only screen and (max-width: 400px) {
    .chart-wrapper {
        aspect-ratio: 1/1;
        width: 300px;
    }
}
