<div data-bsi-element="content-links-group-item">
	<ul class="m-listing__list space-top">
		<li class="atom-content-listing animate-left-bottom m-listing__animate">
			<a data-bsi-element-part="link"
				href="[Link to Article]"
				class="text-small atom-content-listing__link"
				target="_blank">
				<p data-bsi-link-text-part="">
					Allianz SE
				</p>
				<div class="internal-icon atom-content-listing__icon">
					<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
						<g fill="#141E55" fill-rule="evenodd">
							<path d="M15.812 5.555a.71.71 0 0 1 0 1.003l-4.654 4.654a.71.71 0 1 1-1.003-1.003l4.153-4.152-4.153-4.152A.71.71 0 1 1 11.158.902l4.654 4.653z"></path>
							<path d="M0 5.3h15v1.5H0z"></path>
						</g>
					</svg>
				</div>
			</a>
		</li>
	</ul>
</div>
