<div class="row center-xs" data-bsi-element="content-title-lvl-two">
	<div class="col-md-8 col-sm-12 col-xs-12">
		<div class="col-xs-12 col-lg-6 element-heading-not-indented element-heading element-heading-styling-classic">
			<h5 class="h5 module-content-gallery__content-title"
				data-bsi-element-part="plain-text"
				data-bsi-multiline="true">
				{{ legend
					?
					: 'V-shaped recoveries – a bumpy road to pre-crisis
								GDP levels' }}
			</h5>
		</div>
	</div>
</div>
