<div data-bsi-dropzone="rational-text-zone"
    class="template-section-spacer--last"
    data-bsi-dropzone-max-number-of-elements="1">
    {% include '../../../../components/elements/rational-text/template.twig' %}
</div>
