<div data-bsi-element="radio-buttons"
    class="radiobutton-container-wrapper"
    style="padding-bottom: 15px;">
    <div id="option-radio-group"
        data-bsi-element-part="form-radio"
        data-bsi-value-list="Extremely satisfied|1
Very satisfied|2
Satisfied|3
Partly dissatisfied|4
Dissatisfied|5">
        <div data-bsi-radio-group="" class="radiobutton-set-container">
            <div data-bsi-radio-item="" class="custom-radiobutton-container">
                <input type="radio"
                    name="option-radio-group"
                    id="option-radio-group-1"
                    class="radio-btn"
                    value="Option-1"
                    spellcheck="true" />
                <label for="option-radio-group-1">Extremely satisfied</label>
                <span class="custom-radiobutton-frame"></span>
            </div>
            <div data-bsi-radio-item="" class="custom-radiobutton-container">
                <input type="radio"
                    class="radio-btn"
                    name="option-radio-group"
                    id="option-radio-group-2"
                    value="Option-2"
                    spellcheck="true" />
                <label for="option-radio-group-2">Very satisfied</label>
                <span class="custom-radiobutton-frame"></span>
            </div>
            <div data-bsi-radio-item="" class="custom-radiobutton-container">
                <input type="radio"
                    class="radio-btn"
                    name="option-radio-group"
                    id="option-radio-group-3"
                    value="Option-3"
                    spellcheck="true" />
                <label for="option-radio-group-3">Satisfied</label>
                <span class="custom-radiobutton-frame"></span>
            </div>
            <div data-bsi-radio-item="" class="custom-radiobutton-container">
                <input type="radio"
                    class="radio-btn"
                    name="option-radio-group"
                    id="option-radio-group-4"
                    value="Option-4"
                    spellcheck="true" />
                <label for="option-radio-group-4">Partly dissatisfied</label>
                <span class="custom-radiobutton-frame"></span>
            </div>
            <div data-bsi-radio-item="" class="custom-radiobutton-container">
                <input type="radio"
                    class="radio-btn"
                    name="option-radio-group"
                    id="option-radio-group-5"
                    value="Option-5"
                    spellcheck="true" />
                <label for="option-radio-group-5">Dissatisfied</label>
                <span class="custom-radiobutton-frame"></span>
            </div>
        </div>

        <div class="error-message-title isVisible">
            {{ properties.form.title_error }}
        </div>
    </div>
</div>
