<div data-bsi-element="rating-element">
    <div class="rating-element-wrapper">
        <div class="rating-bar-checkbox rating-bar-checkbox-link-top">
            <a class="rating-bar-link-top"
                data-bsi-element-part="link"
                data-bsi-link-fixed-inner-html="true"
                width="20"
                height="20"
                href="https://google.com"
                target="_blank">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
        </div>
        <div class="rating-bar-checkbox-link-bottom">
            <a data-bsi-element-part="link"
                class="rating-bar-link-bottom"
                href="https://google.com"
                target="_blank">
                {{ text }}
            </a>
        </div>
    </div>
</div>
