              <!-- settings-link-list_start -->
                <div data-bsi-element="footer-legal">
                   <ul class="navigation-footer-secondary module-navigation-footer__navigation-footer-secondary">
                      <li>
                         <a data-bsi-element-part="link" class="footer-link" href="[Data privacy policy|url=https://www.juliusbaer.com/en/data-privacy-policy/]">Data privacy policy</a>
                      </li>
                      <li>
                         <a data-bsi-element-part="link" class="footer-link" href="[Terms of use|url=https://www.juliusbaer.com/en/terms-of-use/]">Terms of use</a>
                      </li>
                      <li>
                         <a data-bsi-element-part="link" class="footer-link" href="[Cookie settings|url=#]">Cookie settings</a>
                      </li>
                      <li>
                         <a data-bsi-element-part="link" class="footer-link" href="[News alert|url=https://webservices.newsbox.ch/juliusbaer/registration/executable/add_person.php?isoGuiLanguage=en]">News alert</a>
                      </li>
                      <li>
                         <span class="copyright">© {{ 'now'|date('Y') }} {{ template.address.name }}</span>
                      </li>
                   </ul>
                  </div>
             <!-- settings-link-list_end -->